* {
    font-family: Lato, Roboto, Noto Sans, Segoe UI, Ubuntu, sans-serif;
    font-size: 11pt;
    font-weight: normal;
  }
  
  .statusbar {
    padding: 2px;
    font-size: 10pt;
    color: #c8c8c8;
  }
  
  .quicksearch-query, .quicksearch-item-title {
    font-size: 14pt;
  }
  
  th {
    padding: 4px;
    padding-bottom: 8px;
    font-size: 10pt;
    font-weight: bold;
  }
  
  .quicksearch-item {
    padding: 2px;
    border: 2px solid #4d4d4d;
    border-bottom: 2px solid #363636;
  }
  
  .quicksearch-item-title {
    color: #c8c8c8;
  }

  .quicksearch-item-description {
    color: #8f908a;
  }
  .quicksearch-item-title-highlight {
	color: #F77669;
}

.quicksearch-item-hint {
	font-size: 12pt;
	color: white;
}
